#footer-container {
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 10px;
  background-color: lightseagreen;
  margin-top: 10px;
  padding: 0 10px;

  div {
    display: flex;
  }
}

.message {
 grid-column-start: 1;
 grid-column-end: 2;
 padding-top: 16px;
}

.link-list.list1 {
    grid-column-start: 2;
    grid-column-end: 3; 
}
.link-list.list2 {
    grid-column-start: 3;
    grid-column-end: 4; 
  }

.social-media {
  grid-column-start: 4;
 grid-column-end: 5;
  flex-direction: column;
  padding-top: 16px;
}

div#licenses {
  display: block;
  grid-column: span 4;
  text-align: center;
}