@mixin button-base() {
  display: inline-flex;
  position: relative;
  height: 25px;
  border: none;
  vertical-align: middle;
  border-radius: 10%;

  &:hover { cursor: pointer; background-color: lightseagreen; outline: 2px solid goldenrod; }

  &:disabled {
    color: grey;
    cursor: default;
    pointer-events: none;
  }
}

.test-button {
  @include button-base;
}