
.map-search-container{
  display: flex;

  .search-container {
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr, 1fr, auto);
    gap: 10px;
    grid-template-rows: 3;

    .city-container,
    .types-container,
    .city-search-button-container {
      grid-row: 3;
      align-self: end;
    }
    .city-container {
      grid-column: 1 / 2;
    }

    .types-container {
      grid-column: 2 / 3;
    }

    .city-search-button-container {
      grid-column: 3 / 4;
    }
  }

  .map-key-container {
    display: flex;
    justify-content: center;
    min-width: 230px;
    width: 25rem;
    background-color: lightgrey;
    margin-left: 20px;
    padding: 5px;
    box-sizing: border-box;

    .key {
      text-align: center;
    }
    .key:not(:last-child) {
      margin-right: 10px;
    }
  }
}


.locations-map-results {
  display: flex;

}
.results {
  min-width: 20rem;
  width: 25rem;
  margin-left: 20px;
  background-color: lightgray;
}

.results-list-items {
  padding-right: 10px;
}

svg {
  display: inline-block;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.results-list-name {
  &:hover {
    cursor: pointer;
    color: lightcoral;
  }
}

.plus-icon-wrapper {
  padding-left: 8px;
}

.pagination-controls {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}

.potential-outing-container {
  min-width: 20rem;
  min-height: 10rem;
  background-color: lightgrey;

  .potential-outing-header {
    display: flex;
    h3, p {
     margin: 0;
     padding-right: 10px;
    }
    p {
      padding-top: 4px
    }
    button {
      margin-top: 5px;
    }
  }
}

