.locations-map-results {
  display: flex;

}
.results {
  min-width: 20rem;
  margin-left: 20px;
  background-color: lightgray;

  .results-list-item {
    padding-right: 10px;

    &:hover {
      cursor: pointer;
      color: lightcoral;
    }
  }
}

.pagination-controls {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
}